* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}
body {
	padding: 30px 0;
	text-align: center;
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
}
#wrapper {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}
th,td {
	text-align: left;
	vertical-align: top;
}
th {
	padding: 3px 10px 3px 0;
}
td {
	padding: 3px;
}
.field {
	padding: 5px;
	border: solid 1px #aaa;
	width: 250px;
}
.button {
	padding: 5px 10px;
	border: solid 1px #aaa;
	background: #eee;
	cursor: pointer;
}
.confirmation {
	background: #5da13c;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 14px;
}